<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Hyperstacks</title>
<!--
App Starter Template
http://www.templatemo.com/tm-492-app-starter
-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/font-awesome.min.css">

<link rel="stylesheet" href="css/magnific-popup.css">

<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">

<link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>

<!-- Main css -->
<link rel="stylesheet" href="css/style.css">

</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">


<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-pulse"></div>
</div>



<!-- Navigation Section -->

<div class="navbar navbar-default navbar-fixed-top">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="index.html" class="navbar-brand"><img src="images/Logo.png" class="logo-nav">HYPERSTACKS</a>
          </div>

          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li><a href="#about" class="smoothScroll">The Team</a></li>
                    <li><a href="#screenshot" class="smoothScroll">Portfolio</a></li>
                <li><a href="#pricing" class="smoothScroll">Our Process</a></li>
                <li><a href="#newsletter" class="smoothScroll">Skillsets</a></li>
               <li><a href="#" data-toggle="modal" data-target="#modal1" class="hire-us">Let's Start</a></li>
               </ul>
          </div>

     </div>
</div>


<!-- Home Section -->

<section id="home" class="main">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="wow fadeInUp col-md-6 col-sm-5 col-xs-10 col-xs-offset-1 col-sm-offset-0" data-wow-delay="0.2s">
                    <img src="images/home-img.png" class="img-responsive" alt="Home">
               </div>

               <div class="col-md-6 col-sm-7 col-xs-12">
                    <div class="home-thumb">
                         <h1 class="wow fadeInUp" data-wow-delay="0.6s">Mobile App Development & Venture Launcher</h1>
                         <p class="wow fadeInUp" data-wow-delay="0.8s">Need A Mobile App? Let's Talk.</p>
                         <a href="#about" class="wow fadeInUp section-btn btn btn-success smoothScroll" data-wow-delay="1s">Tell me more</a>
                    </div>
               </div>

          </div>
     </div>
</section>


<!-- About Section -->

<section id="about">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <div class="wow bounceIn section-title">
                         <h1>Our Mobile App Team</h1>
                         <hr>
                    </div>
               </div>

               <div class="wow fadeInUp col-md-offset-3 col-md-7 col-sm-12 section-body" data-wow-delay="0.4s">
                   <h2>Get a team that gets the job done </h2>
                   <h3 class="wow fadeInUp" data-wow-delay="0.8s">if (weHaveCoffee == true) <br/>{ <br/> &nbsp;&nbsp;&nbsp;create app;<br/> } </h3>
                   <p class="wow fadeInUp" data-wow-delay="0.4s">From mobile games to mobile software-as-a-service (SaaS) applications, our dedicated team of engineers can build and launch your mobile app in the market. </p>
               </div>
          </div>

          <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                              <div class="about-thumb">
                                   <img src="images/graham.jpg" class="img-responsive" alt="Team">
                                   <div class="about-overlay">
                                        <h3>Graham</h3>
                                        <h4>Hustler</h4>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                             <li><a target="_blank" href="https://www.linkedin.com/in/grahamjimenez/" class="fa fa-linkedin"></a></li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                           <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                                   <div class="about-thumb">
                                        <img src="images/marvin.jpg" class="img-responsive" alt="Team">
                                             <div class="about-overlay">
                                                  <h3>Marvin</h3>
                                                  <h4>Financial Expert</h4>
                                                  <ul class="social-icon">
                                                       <!-- <li><a href="#" class="fa fa-pinterest"></a></li> -->
                                                       <li><a target="_blank" href="#" class="fa fa-facebook"></a></li>
                                                       <li><a target="_blank" href="#" class="fa fa-linkedin"></a></li>
                                                       <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                                                  </ul>
                                             </div>
                                   </div>
                         </div>
                         <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                                   <div class="about-thumb">
                                        <img src="images/gerwin.jpg" class="img-responsive" alt="Team">
                                             <div class="about-overlay">
                                                  <h3>Gerwin</h3>
                                                  <h4>Rockstar Hacker</h4>
                                                  <ul class="social-icon">
                                                       <!-- <li><a href="#" class="fa fa-pinterest"></a></li> -->
                                                       <li><a target="_blank" href="#" class="fa fa-facebook"></a></li>
                                                       <li><a target="_blank" href="#" class="fa fa-linkedin"></a></li>
                                                       <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                                                  </ul>
                                             </div>
                                   </div>
                         </div>
                         <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                              <div class="about-thumb">
                                   <img src="images/geoff.jpg" class="img-responsive" alt="Team">
                                        <div class="about-overlay">
                                             <h3>Geoff</h3>
                                             <h4>Rockstar Hacker</h4>
                                             <ul class="social-icon">
                                                 <!--  <li><a href="#" class="fa fa-facebook"></a></li>
                                                  <li><a href="#" class="fa fa-instagram"></a></li>
                                                  <li><a href="#" class="fa fa-twitter"></a></li> -->
                                                  <!-- <li><a target="_blank" href="#" class="fa fa-linkedin"></a></li> -->
                                             </ul>
                                        </div>
                              </div>
                         </div>
                         <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                              <div class="about-thumb">
                                   <img src="images/janno.jpg" class="img-responsive" alt="Team">
                                   <div class="about-overlay">
                                        <h3>Janno</h3>
                                        <h4>Rockstar Hacker</h4>
                                        <ul class="social-icon">
                                            <!--  <li><a href="#" class="fa fa-facebook"></a></li>
                                             <li><a href="#" class="fa fa-instagram"></a></li>
                                             <li><a href="#" class="fa fa-twitter"></a></li> -->
                                             <!-- <li><a target="_blank" href="#" class="fa fa-linkedin"></a></li> -->
                                        </ul>
                                   </div>
                              </div>
                         </div>
                         <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                                   <div class="about-thumb">
                                        <img src="images/default.jpg" class="img-responsive" alt="Team">
                                             <div class="about-overlay">
                                                  <h3>Dimful</h3>
                                                  <h4>Rockstar Hacker</h4>
                                                  <ul class="social-icon">
                                                       <!-- <li><a href="#" class="fa fa-pinterest"></a></li> -->
                                                       <li><a target="_blank" href="http://Behance.net/kevinplaridel" class="fa fa-behance"></a></li>
                                                       <li><a target="_blank" href="https://www.linkedin.com/in/kevin-aton-45843293/" class="fa fa-linkedin"></a></li>
                                                       <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                                                  </ul>
                                             </div>
                                   </div>
                         </div>
                         <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                              <div class="about-thumb">
                                   <img src="images/kevin.jpg" class="img-responsive" alt="Team">
                                        <div class="about-overlay">
                                             <h3>Kevin</h3>
                                             <h5>UI/UX & Branding Expert</h5>
                                             <ul class="social-icon">
                                                  <!-- <li><a href="#" class="fa fa-pinterest"></a></li> -->
                                                  <li><a target="_blank" href="http://Behance.net/kevinplaridel" class="fa fa-behance"></a></li>
                                                  <li><a target="_blank" href="https://www.linkedin.com/in/kevin-aton-45843293/" class="fa fa-linkedin"></a></li>
                                                  <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                                             </ul>
                                        </div>
                              </div>
                         </div>
                         <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                              <div class="about-thumb">
                                   <img src="images/jules.jpg" class="img-responsive" alt="Team">
                                        <div class="about-overlay">
                                             <h3>Jules</h3>
                                             <h5>Product Development Specialist</h5>
                                             <ul class="social-icon">
                                                 <!--  <li><a href="#" class="fa fa-facebook"></a></li>
                                                  <li><a href="#" class="fa fa-instagram"></a></li>
                                                  <li><a href="#" class="fa fa-twitter"></a></li> -->
                                                  <!-- <li><a target="_blank" href="#" class="fa fa-linkedin"></a></li> -->
                                             </ul>
                                        </div>
                              </div>
                         </div>
                         <div class="wow fadeInUp col-md-3 col-sm-12" data-wow-delay="0.4s">
                              <div class="about-thumb">
                                   <img src="images/micah.jpg" class="img-responsive" alt="Team">
                                        <div class="about-overlay">
                                             <h3>Micah</h3>
                                             <h4>Rockstar-in-progress</h4>
                                             <ul class="social-icon">
                                                  <!-- <li><a href="#" class="fa fa-pinterest"></a></li> -->
                                                  <li><a target="_blank" href="#" class="fa fa-behance"></a></li>
                                                  <li><a target="_blank" href="#" class="fa fa-linkedin"></a></li>
                                                  <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                                             </ul>
                                        </div>
                              </div>
                         </div>
               </div>
          </div>
     </div>
</section>


<!-- Divider Section -->

<section id="divider">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <h2 class="wow fadeInUp" data-wow-delay="0.4s">We don't just build apps, we build ideas.</h2>
                    <a href="#about" class="wow fadeInUp section-btn btn btn-success smoothScroll" data-wow-delay="1s">Let's get started</a>
                  <!--   <a data-toggle="modal" data-target="#modal1" class="wow fadeInUp section-btn btn btn-success smoothScroll" data-wow-delay="0.8s">Let's talk</a> -->
               </div>

          </div>
     </div>
</section>


<!-- Screenshot Section -->

<section id="screenshot">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="section-title">
                         <h1>Portfolio</h1>
                         <p class="wow fadeInUp" data-wow-delay="0.8s">Some of our previous and current works</p>
                    </div>
               </div>

               <!-- Screenshot Owl Carousel -->
               <div id="screenshot-carousel" class="owl-carousel">

                    <div class="item col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
                         <a href="images/bv.png" class="image-popup">
                              <img src="images/bv.png" class="img-responsive" alt="screenshot">
                         </a>
                    </div>

                    <div class="item col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
                         <a href="images/rakit.png" class="image-popup">
                              <img src="images/rakit.png" class="img-responsive" alt="screenshot">
                         </a>
                    </div>

                    <div class="item col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
                         <a href="images/aiw.png" class="image-popup">
                              <img src="images/aiw.png" class="img-responsive" alt="screenshot">
                         </a>
                    </div>

                     <div class="item col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
                         <a href="images/styrka.png" class="image-popup">
                              <img src="images/styrka.png" class="img-responsive" alt="screenshot">
                         </a>
                    </div>

               </div>

          </div>
     </div>
</section>


<!-- Pricing Section -->

<section id="pricing">
     <div class="container">
          <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h1>Our Three-Step-Process</h1>
                         <hr>
                    </div>
               </div>

               <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.4s">
                    <div class="pricing-plan">
                         <div class="pricing-month">
                              <h2>1.Talk</h2>
                         </div>
                         <div class="pricing-title">
                              <h3>Brainstorming</h3>
                         </div>
                         <div class="col-md-offset-1 col-md-10 col-sm-12">
                              <p>Tell us what you need and how do you want it.</p>
                         </div>
                        
                         <button class="btn btn-default section-btn">Go to step 2</button>
                    </div>
               </div>

               <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
                    <div class="pricing-plan">
                         <div class="pricing-month">
                              <h2>2.Build</h2>
                         </div>
                         <div class="pricing-title">
                              <h3>Development</h3>
                         </div>
                         <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <p>After brainstorming, we can start building the app.</p>
                         </div>
                         <button class="btn btn-default section-btn">Go to step 3</button>
                    </div>
               </div>

               <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.8s">
                    <div class="pricing-plan">
                         <div class="pricing-month">
                              <h2>3.Launch</h2>
                         </div>
                         <div class="pricing-title">
                              <h3>Shipping</h3>
                         </div>
                         <div class="col-md-offset-1 col-md-10 col-sm-12">
                              <p>Once we're done building, it's time to ship it!</p>
                         </div>          
                         <button class="btn btn-default section-btn">Project Completed!</button>
                    </div>
               </div>

          </div>
     </div>
</section>


<!-- Newsletter Section -->

<section id="newsletter">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">
               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="section-title">
                         <h1>Our Skillset</h1>
                         <p class="wow fadeInUp" data-wow-delay="0.8s">Some of the tools we use to build awesome apps</p>
                    </div>
               </div>
          </div>

          <div class="row">
               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="IonicFramework" src="https://julienrenaux.fr/talks-src/img/ionic-logo.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="Cordova" src="https://cordova.apache.org/static/img/artwork/cordova_logo_dark_gray_large.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="Phonegap" src="http://logonoid.com/images/phonegap-logo.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="Apple SDK" src="http://logok.org/wp-content/uploads/2014/04/Apple-Logo-black.png">
               </div>
          </div>

           <div class="row">
               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="android sdk" src="https://cdn.worldvectorlogo.com/logos/android.svg">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="Jquery" src="http://precision-software.com/wp-content/uploads/2014/04/jQurery.gif">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="typecript" src="https://seeklogo.com/images/T/typescript-logo-B29A3F462D-seeklogo.com.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="AngularJs" src="https://code-maven.com/img/angularjs.png">
               </div>
          </div>

           <div class="row">
               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="ExpressJs" src="https://images.g2crowd.com/uploads/product/image/1473787496/express-js.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="html" src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="css" src="https://seeklogo.com/images/C/css3-logo-FD8D698B77-seeklogo.com.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="Sass" src="http://sass-lang.com/assets/img/styleguide/color-1c4aab2b.png">
               </div>
          </div>

           <div class="row ">
               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="unity" src="https://unity3d.com/profiles/unity3d/themes/unity/images/company/brand/logos/primary/unity-logo.png">
               </div>

               <div class="col-xs-3">
                   <img class="img-responsive tools-logo" alt="git" src="https://seeklogo.com/images/G/github-logo-5F384D0265-seeklogo.com.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="ReactJs" src="http://blog-assets.risingstack.com/2016/Jan/react_best_practices-1453211146748.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="Chai" src="http://mherman.org/images/mocha-chaijs.png">
               </div>
          </div>

          <div class="row ">
               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="firebase" src="https://kenoleon.github.io/Front-End-Web-Dev-UI-UX/assets/images/firebase.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="laravel" src="https://yomotherboard.com/wp-content/uploads/2015/02/laravel.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="CodeIgniter" src="https://programmerblog.net/wp-content/uploads/2016/12/codeigniter.jpg">
               </div>
                
                <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="RubyOnRails" src="https://cosmicjs.com/uploads/4ae89b30-27c8-11e7-9631-b17e7278f329-rails.svg">
               </div>    
          </div>


          <div class="row ">
               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="slack" src="https://forger.typo3.org/images/slack.svg">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="jira" src="http://blog.brzoapp.com/wp-content/uploads/2017/01/JIRAlogo-300x251.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="Pivotal" src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_1489708427/pivotal-tracker.png">
               </div>
                <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="Mongodb" src="https://serverdensity-wpengine.netdna-ssl.com/wp-content/themes/onecol/images/random/mongodb.png">
               </div>
          
          </div>

            <div class="row ">
               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="PHP" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="nodeJS" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/2000px-Node.js_logo_2015.svg.png">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="MySql" src="https://howtolearn.me/wp-content/uploads/2014/04/MySQL-Logo.jpg">
               </div>

               <div class="col-xs-3">
                    <img class="img-responsive tools-logo" alt="docker" src="https://camo.githubusercontent.com/14b97ba4a1327c0db2200f3892788fd873a1ce20/687474703a2f2f626c6f672e70687573696f6e2e6e6c2f77702d636f6e74656e742f75706c6f6164732f323031332f31312f646f636b65722e706e67">
               </div>

              

              
          </div>

     </div>
</section>


<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-8 col-sm-6">
                    <div class="wow fadeInUp footer-copyright" data-wow-delay="0.4s">
                         <p> © 2017 Hyperstacks. All Rights Reserved.<i class="fa fa-love"></i><!-- <a href="#">Hyperstacks</a> -->
                         <span></span> 
                          <a href="https://plus.google.com/+templatemo" title="free css templates" target="_blank"></a></p>
                    </div>
               </div>

               <div class="col-md-4 col-sm-6">
                    <ul class="wow fadeInUp social-icon" data-wow-delay="0.8s">
                         <li><a target="_blank" href="http://fb.com/hyperstacks" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>
               
          </div>
     </div>
</footer>


<!-- Modal Contact -->

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
      <div class="modal-content modal-popup">
          <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h2 class="modal-title">Contact Form</h2>
          </div>

               <form action="#" method="post">
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email Address" required>
                    <textarea name="message" rows="3" class="form-control" id="message" placeholder="I need an app for ..." required></textarea>
                    <input name="submit" type="submit" class="form-control" id="submit" value="Send Message">
               </form>
          </div>
     </div>
</div>


<!-- Back top -->

<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- SCRIPTS -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>